venv
venv_gpu

.idea

logs

__pycache__/
*.DS_Store

docker/.ndu-gate/

deb_dist
dist
ndu_gate.egg-info

ndu-gate-*.tar.gz
python3-ndu-gate.deb

# bu dizinler kurulum dosyası oluşturulurken kullanılıyor
# default ayar ve runnerlar
for_build/etc/ndu-gate/config
for_build/etc/ndu-gate/runners
for_build/etc/ndu-gate/data

ndu_gate_camera.egg-info/
dist/
build/
.vscode/*