venv

.idea

logs

__pycache__/
*.DS_Store

docker/.ndu-gate/

deb_dist
dist
ndu_gate.egg-info

ndu-gate-*.tar.gz

# bu dizinler kurulum dosyası oluşturulurken kullanılıyor
# default ayar ve runnerlar
for_build/etc/ndu-gate/config
for_build/etc/ndu-gate/runners