numpy==1.19.3
# pip install numpy==1.19.3 --upgrade
protobuf
opencv-python
onnx
onnxruntime
# onnxruntime-gpu
setuptools
vidgear==0.1.9
pyzmq
PyYAML
simplejson
# picamera
ffmpeg-python
opencv-contrib-python
filterpy==1.4.5

# macos: brew install libomp
# linux: sudo apt install libgomp1
# windows: https://aka.ms/vs/16/release/vc_redist.x64.exe