video_source:
  type: YOUTUBE # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
  file_path: duygu2.mp4
  data_folder: /etc/ndu-gate/data/video
  replay: False # not implemented
  url: https://www.youtube.com/watch?v=3FXUw98rrUY
  show_preview: True
  cam_gear_options:
    CAP_PROP_FRAME_WIDTH: 320
    CAP_PROP_FRAME_HEIGHT: 240
    CAP_PROP_FPS: 10

#video_source:
#  type: YOUTUBE # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
#  file_path: duygu2.mp4
#  data_folder: /etc/ndu-gate/data/video
#  replay: False # not implemented
#  url: https://www.youtube.com/watch?v=3FXUw98rrUY
#  show_preview: True
#  write_preview: True
#  write_preview_file_name: /Users/korhun/Documents/temp/preview.mov
#  mirror: True
##  sleep: 0.1
#  cam_gear_options:
#    CAP_PROP_FRAME_WIDTH: 320
#    CAP_PROP_FRAME_HEIGHT: 240
#    CAP_PROP_FPS: 10


result_handler:
  type: SOCKET # FILE, SOCKET
  file_path: /var/lib/thingsboard_gateway/extensions/camera/
  socket:
    port: 60060
    host: 127.0.0.1

runners:
  - name: Person 1
    type: personcounter
    configuration: personcounter.json
    class: PersonCounterRunner
    priority: 100
#  - name: yolov3 - Object detection with 80 classes
#    type: yolov3
#    configuration: yolov3.json
#    class: yolov3_runner
#    priority: 10
  - name: yolov3-tiny - Fast object detection with 80 classes
    type: yolov3-tiny
    configuration: yolov3-tiny.json
    class: yolov3_tiny_runner
    priority: 10

#  - name: Social Distance
#    type: socialdistance
#    configuration: socialdistance.json
#    class: SocialDistanceRunner
#    priority: 75
#  - name: Person 2
#    type: personcounter
#    configuration: personcounter2.json
#    class: PersonCounterRunner
#  - name: Driver Monitor 2 with emo.conf
#    type: drivermonitor
#    configuration: emotionanalysis.json
#    class: DriverMonitorRunner
#    priority: 200
#  - name: Emotion Analysis
#    type: emotionanalysis
#    configuration: emotionanalysis.json
#    class: EmotionAnalysisRunner
#    priority: 50
#  - name: Driver Monitor 1
#    type: drivermonitor
#    configuration: drivermonitor.json
#    class: DriverMonitorRunner
