#video_source:
#  type: YOUTUBE # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
#  file_path: duygu2.mp4
#  data_folder: /etc/ndu-gate/data/video
#  replay: False # not implemented
#  url: https://www.youtube.com/watch?v=3FXUw98rrUY
#  show_preview: True
#  cam_gear_options:
#    CAP_PROP_FRAME_WIDTH: 320
#    CAP_PROP_FRAME_HEIGHT: 240
#    CAP_PROP_FPS: 10

video_source:
  type: CAMERA # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
#  file_path: iett_1.avi
#  file_path: iett_2.avi
#  file_path: smoke_film.mp4
#  file_path: smoke_women.mp4
#  file_path: smoking_anti.mp4
#  file_path: smoking.mp4
#  file_path: smoking2.mp4
#  file_path: vertical_smoking.mov
  file_path: duygu2.mp4
  data_folder: /Users/korhun/Documents/test_data/
  replay: False # not implemented
#  url: https://www.youtube.com/watch?v=3FXUw98rrUY
#  url: https://youtu.be/8pXFktAbx5Y
#  url: https://youtu.be/NyLF8nHIquM
#  url: https://youtu.be/N9JtUC8hl8o
#  url: https://www.youtube.com/watch?v=0wNgUXGTKdg
#  url: https://youtu.be/embYkODkzcs  #emotion
  url: https://youtu.be/LdQw8PSV2P8  #emotion
#  url: https://youtu.be/lAWGyy7Y2Uo
  show_preview: True
#  write_preview: True
  write_preview_file_name: /Users/korhun/Documents/temp/preview.mov
  mirror: True
#  sleep: 0.1
  cam_gear_options:
    CAP_PROP_FRAME_WIDTH: 320
    CAP_PROP_FRAME_HEIGHT: 240
    CAP_PROP_FPS: 10


result_handler:
  type: SOCKET # FILE, SOCKET
  file_path: /var/lib/thingsboard_gateway/extensions/camera/
  socket:
    port: 60060
    host: 127.0.0.1

runners:
#  - name: yolov3 - Object detection with 80 classes
#    type: yolov3
#    configuration: yolov3.json
#    class: yolov3_runner
#    priority: 10

#  - name: yolov3-tiny - Fast object detection with 80 classes
#    type: yolov3-tiny
#    configuration: yolov3-tiny.json
#    class: yolov3_tiny_runner
#    priority: 10

#  - name: ssd_mobilenet - Fast object detection with 80 classes
#    type: ssd_mobilenet
#    configuration: ssd_mobilenet.json
#    class: ssd_mobilenet_runner
#    priority: 10

  - name: Face Detector
    type: facedetector
    configuration: facedetector.json
    class: face_detector_runner
    priority: 10

#  - name: Person Counter
#    type: personcounter
#    configuration: person_counter.json
#    class: person_counter_runner
#    priority: 100

#  - name: Driver Monitor
#    type: drivermonitor
#    configuration: drivermonitor.json
#    class: driver_monitor_runner
#    priority: 100

  - name: Emotion
    type: emotion
    configuration: emotion.json
    class: emotion_runner
    priority: 100


#  - name: Social Distance
#    type: socialdistance
#    configuration: socialdistance.json
#    class: SocialDistanceRunner
#    priority: 75
#  - name: Driver Monitor 2 with emo.conf
#    type: drivermonitor
#    configuration: emotionanalysis.json
#    class: DriverMonitorRunner
#    priority: 200
#  - name: Emotion Analysis
#    type: emotionanalysis
#    configuration: emotionanalysis.json
#    class: EmotionAnalysisRunner
#    priority: 50
