result_handler:
  type: SOCKET
  socket:
    port: 60060
    host: 127.0.0.1

instances:
  - source:
      ignore: False
      type: IP_CAMERA
      url: rtsp://admin:Catab234@10.10.0.85:554/1
      device: "CANAKKALE-10.10.0.85"
      frame_sent: True
      preview_show: True
      max_frame_dim: 640
    runners:
      - name: yolov5s - Object detection with 80 classes (Fastest)
        type: yolov5s
        configuration: yolov5s.json
        class: Yolov5sRunner
        priority: 10
      - name: Object Counter
        type: object_counter
        configuration: object_counter_CAMERA-10.10.0.85.json
        class: ObjectCounterRunner
        priority: 100

#  - source:
#      type: IP_CAMERA
#      url: rtsp://admin:Ani6060@10.10.190.103:554/1
#      device: "CANAKKALE-10.10.190.103"
#      frame_sent: True
##      preview_show: True
#      max_frame_dim: 640
#    runners:
#      - name: yolov5s - Object detection with 80 classes (Fastest)
#        type: yolov5s
#        configuration: yolov5s.json
#        class: Yolov5sRunner
#        priority: 10
#      - name: Object Counter
#        type: object_counter
#        configuration: object_counter_CAMERA-10.10.190.103.json
#        class: ObjectCounterRunner
#        priority: 100
#
#  - source:
#      type: IP_CAMERA
#      url: rtsp://admin:Ani6060@10.10.190.173:554/1
#      device: "CANAKKALE-10.10.190.173"
#      frame_sent: True
##      preview_show: True
#      max_frame_dim: 640
#    runners:
#      - name: yolov5s - Object detection with 80 classes (Fastest)
#        type: yolov5s
#        configuration: yolov5s.json
#        class: Yolov5sRunner
#        priority: 10
#      - name: Object Counter
#        type: object_counter
#        configuration: object_counter_CAMERA-10.10.190.173.json
#        class: ObjectCounterRunner
#        priority: 100


#### çalışmadı
#  - source:
#      type: IP_CAMERA
#      url: rtsp://admin:Ani6060@10.10.190.122:554/1
#      device: "CAMERA-10.10.190.122"
#      preview_show: True
#      frame_sent: True
##      max_frame_dim: 1200
##      sleep: 0.1
##      skip_frame: 5
#    runners:
#      - name: yolov5s - Object detection with 80 classes (Fastest)
#        type: yolov5s
#        configuration: yolov5s.json
#        class: Yolov5sRunner
#        priority: 10
##      - name: Object Counter
##        type: object_counter
##        configuration: object_counter_CAMERA-10.10.190.122.json
##        class: ObjectCounterRunner
##        priority: 100





