video_source:
  type: CAMERA # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
  file_path: data/duygu2.mp4
  url:

result_handler:
  type: FILE # FILE, SOCKET
  file_path: /var/lib/thingsboard_gateway/extensions/camera/serviceTelemetry.txt
  port: 60060
  host: 127.0.0.1