video_source:
  type: PI_CAMERA # VIDEO_FILE, PI_CAMERA, CAMERA, IP_CAMERA, VIDEO_URL, YOUTUBE
  file_path: duygu2.mp4
  data_folder: /etc/ndu-gate/data/video
  replay: False # not implemented
  url: https://www.youtube.com/watch?v=IzbCLBXAGFM
  cam_gear_options:
    CAP_PROP_FRAME_WIDTH: 320
    CAP_PROP_FRAME_HEIGHT: 240
    CAP_PROP_FPS: 10


result_handler:
  type: FILE # FILE, SOCKET
  file_path: /var/lib/thingsboard_gateway/extensions/camera/
  port: 60060
  host: 127.0.0.1

runners:
#   - name: Person Counter Camera Runner
#     type: personcounter
#     configuration: personcounter.json
#     class: PersonCounterRunner
#     uuids:
#      - uuid1
#      - uuid2
